<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chatroom</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
<form onsubmit="return false;">
<div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" name="username" id="username"/>
</div>
<div class="form-group">
    <label for="message">Message:</label>
    <textarea class="form-control" name="message" id="message"></textarea>
</div>
<div class="form-group">
    <button class="btn btn-primary" id="sendBtn">Send</button>
</div>
</form>
<pre th:text="${message}"></pre>
</div>

<script type="text/javascript">
    const sendBtn = document.getElementById("sendBtn"),
          usernameInput = document.getElementById("username"),
          messageInput = document.getElementById("message");
    sendBtn.addEventListener("click", function() {
        fetch("/postmessage?username=" + usernameInput.value + "&message=" + messageInput.value);
    });
</script>

</body>
</html>